http:
  port: 8080
admin:
  port: 9876
  host: localhost
apiEndpoints:
  api:
    host: localhost
    paths: '/ip'
  trip:
    host: localhost
    paths: '/api/trips'
serviceEndpoints:
  httpbin:
    url: 'https://httpbin.org'
  tripservice:
    url: 'http://localhost:9000/trips'
policies:
  - basic-auth
  - cors
  - expression
  - key-auth
  - log
  - oauth2
  - proxy
  - rate-limit
pipelines:
  default:
    apiEndpoints:
      - api
    policies:
    # Uncomment `key-auth:` when instructed to in the Getting Started guide.
    # - key-auth:
      - proxy:
          - action:
              serviceEndpoint: httpbin 
              changeOrigin: true
  default-1:
    apiEndpoints:
      - trip
    policies:
      - proxy:
          - action:
              serviceEndpoint: tripservice 
              changeOrigin: true
        
